@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
h1{
    font-size: 30px;
    font-family: 'Raleway';
    border-bottom-style: solid;
}
body{
    background-image: url("https://image.freepik.com/vector-gratis/elegante-fondo-blanco-lineas-brillantes_1017-17580.jpg")
}
#cuerpo{
    margin:auto;
    text-align:center;
    height: 100px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    margin-top: 200px
}
label{
    font-family: 'Raleway';
    font-size: 20px;
}
#boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 10px;
    color: #ffffff;
    background-color: black;
    border-radius: 6px;
